LM/1ºEVA/Schema/XSD_B1.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="pizzas">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="pizza" type="tipoPizza" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="nombre" type="xs:string"/>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="tipoPizza">
    <xs:sequence>
      <xs:element name="ingrediente" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="nombre" type="xs:string"/>
    <xs:attribute name="precio" type="xs:integer"/>
  </xs:complexType>

</xs:schema>
